{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "chrome >= 65"
                    ]
                },
                "useBuiltIns": true,
                "debug": true,
            }
        ]
    ],
    "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }]
    ]
}
